.node {
    font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.link {
    stroke: steelblue;
    stroke-opacity: .4;
    fill: none;
}

#bars{
    display: inline-block;
    border: solid;
    border-color: black;
}

.bar{
    display: inline-block;
    width:20px;
    height:1px;
    background-color: teal;
}